body {
    background-color: #d09615;
}

body {
    overflow:hidden;
    margin: 0px;
    scrollbar-base-color: #CCCCCC;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: #999999;
    scrollbar-3dlight-color: #EEEEEE;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-face-color: #CCCCCC;
    scrollbar-shadow-color: #999999;
    scrollbar-darkshadow-color: #666666;
    font-family: "微软雅黑", 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    /*width: 100%;*/
    height: 100%;
   
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h3,
h3 {
    font-size: 24px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lb-webkit-scrollbar ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}

.lb-webkit-scrollbar ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

.lb-webkit-scrollbar ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}
.tab-content {
    
}