         html {
             height: 100%;
         }
         
         body {
             height: 100%;
             margin: 0px;
             font-size: 14px;
             overflow-x: hidden;
             font-family: "微软雅黑", 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;
         }
         
         ul,
         a {
             list-style: none;
             text-decoration: none;
             padding: 0;
             margin: 0;
         }
         
         .container {
             width: 100%;
             height: 100%;
             display: grid;
             grid-template-rows: 100px auto 31px;
             margin: 0px;
             padding: 0px;
         }
         
         .contaierUnfold {
             grid-template-columns: 180px auto;
         }
         
         .containerRetraction {
             grid-template-columns: 55px auto;
             white-space: nowrap;
             overflow: hidden;
         }
         
         .container i {
             font-size: 16px;
         }
         
         .container>div {
             background: #33485c;
         }
         
         .lbSdebar {
             grid-row: 1/3;
         }
         
         .headerSecond {
             height: 100px;
         }
         
         .container .lbBody {
             background: rgb(240, 242, 245);
             padding: 15px;
         }
         
         .lbBody_container {
             width: 100%;
             height: 100%;
             background: pink;
         }
         
         .container .lbFooter {
             grid-column: 1/3;
             background: #2a3b4c;
             box-sizing: border-box;
         }
         
         .container .lbFooter .copyright {
             width: 100%;
             height: 100%;
             text-align: right;
             box-sizing: border-box;
             padding: 7px 20px;
             font-size: 12px;
             color: #ffffff;
         }
         
         .containerRetraction i.fa {
             font-size: 18px;
         }
         
         .containerRetraction a {
             padding: 12px 0;
         }
         
         .containerRetraction .lbSdebarHeader span {
             display: none;
         }
         
         .containerRetraction .lbSdebarUlStyle li a span {
             display: none;
         }
         
         containerRetraction .lbSdebarUlStyle li:hover a span {
             display: block;
         }
         
         .containerRetraction .lbSdebarUlStyle .lbSdebarMenu {
             position: relative;
         }
         
         .containerRetraction .lbSdebarUlStyle li ul li a i {
             display: none;
         }
         
         .containerRetraction .lbSdebarUlStyle li.line1:hover>a>span {
             display: block;
             position: absolute;
             top: 0;
             left: 55px;
             padding: 15px;
             margin-left: 0;
             background: #e74c3c;
             color: #ffffff;
             width: 195px;
             height: 42px;
             box-sizing: border-box;
         }
         
         .containerRetraction .lbSdebarUlStyle li ul {
             display: none;
             position: absolute;
             top: 42px;
             left: 55px;
             width: 195px;
         }
         
         .containerRetraction .lbSdebarUlStyle li:hover ul {
             display: block;
         }
         
         .containerRetraction .lbSdebarUlStyle li.line1 ul li.lbSdebarMenuItem a {
             padding-bottom: 0px;
         }
         
         .containerRetraction .lbSdebarUlStyle li.line1 ul li.line2 a span {
             margin-left: 15px;
             display: block !important;
         }